<div class="row">
  <div class="form-group col-xs-12">
    <label>Host</label>
    <input class="form-control" ng-model="conn_params.host">
  </div>
  <div class="form-group col-xs-12">
    <label>User</label>
    <input class="form-control" ng-model="conn_params.user">
  </div>
  <div class="form-group col-xs-12">
    <label>Password</label>
    <input class="form-control" ng-model="conn_params.pass">
  </div>
  <button ng-hide="isConnected" ng-disabled="!conn_params.host || _connecting" class="btn btn-primary col-xs-5 col-xs-offset-7" ng-click="connect()">Connect</button>
  <button ng-show="isConnected" class="btn btn-warning col-xs-5 col-xs-offset-7" ng-click="disconnect()">Disconnect</button>
</div>