<div>
  <div class="btn-group" id="menu" role="group" aria-label="menu" style="width:100%">
    <button type="button" ng-click="setPage('connect')" aria-label="connect" class="btn btn-default" style="width:25%"><i class="glyphicon glyphicon-flash"></i>
    </button>
    <button type="button" ng-click="setPage('scan')" aria-label="scan" class="btn btn-default" ng-disabled="!isConnected" style="width:25%"><i class="glyphicon glyphicon-list"></i>
    </button>
    <button type="button" ng-click="setPage('status')" aria-label="status" class="btn btn-default" ng-disabled="!isConnected" style="width:25%"><i class="glyphicon glyphicon-list-alt"></i>
    </button>
    <button type="button" ng-click="setPage('link')" aria-label="link" class="btn btn-default" ng-disabled="!isConnected" style="width:25%"><i class="glyphicon glyphicon-link"></i>
    </button>
  </div>
  <div class="container-fluid" id="container">
    <ubnt-connect ng-show="!page || page === 'connect'"></ubnt-connect>
    <ubnt-survey ng-show="page==='scan'"></ubnt-survey>
    <ubnt-status ng-show="page==='status'"></ubnt-status>
    <ubnt-link ng-show="page==='link'"></ubnt-link>
  </div>
</div>